// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.row{
    text-align: center;
}

.pt-3{
    text-shadow: 1px 1px 3px #ffffff;
    font-family:  sans-serif;
    font-weight:900; 
}

.container2 {
    margin: 60px auto;
    padding-left: 0px;
    padding-right: 0px;
    clear: both;
    background-image: image-url('image15.jpg');
    background-size: cover;
}